In [1]:
import pandas as pd

In [5]:
main_df = pd.read_csv('/Users/zumiis/final_not4git/for github/data_with_interest_rate_gdp_trade_ue_all.csv')

In [4]:
append_df = pd.read_csv('/Users/zumiis/final_not4git/multivariate data/us_with_all_countries.csv')

In [6]:
append_df.columns

Index(['Unnamed: 0', 'AUD_IR', 'CND_IR', 'CNY_IR', 'JPY_IR', 'KRW_IR',
       'MXN_IR', 'NZD_IR', 'NOK_IR', 'SGD_IR', 'ZAR_IR', 'SEK_IR', 'CHF_IR',
       'THB_IR', 'GBP_IR', 'AUD_GDP', 'CND_GDP', 'CNY_GDP', 'DKK_GDP',
       'JPY_GDP', 'KRW_GDP', 'MXN_GDP', 'NZD_GDP', 'NOK_GDP', 'SGD_GDP',
       'ZAR_GDP', 'SEK_GDP', 'CHF_GDP', 'THB_GDP', 'GBP_GDP', 'AUD_UE',
       'CND_UE', 'DKK_UE', 'JPY_UE', 'KRW_UE', 'MXN_UE', 'NZD_UE', 'NOK_UE',
       'SEK_UE', 'CHF_UE', 'GBP_UE', 'Time Series', 'AUD_USD', 'CND_USD',
       'CNY_USD', 'DKK_USD', 'JPY_USD', 'KRW_USD', 'MXN_USD', 'NZD_USD',
       'NOK_USD', 'SGD_USD', 'ZAR_USD', 'SEK_USD', 'CHF_USD', 'THB_USD',
       'GBP_USD', 'month', 'year', 'AUD_trade', 'NZD_trade', 'GBP_trade',
       'BRL_trade', 'CND_trade', 'CNY_trade', 'HKD_trade', 'IDR_trade',
       'KRW_trade', 'ZAR_trade', 'DKK_trade', 'NOK_trade', 'JPY_trade',
       'SEK_trade', 'CHF_trade', 'THB_trade', 'MXN_trade', 'USD_USD',
       'price_gold', 'fc_year', 'USD_IR', 'USD_GDP', 'USD_UE', 'h1n1',
       'USD_trade'],
      dtype='object')

In [8]:
append_df = append_df[['fc_year', 'price_gold', 'h1n1']]

In [11]:
main_df = pd.concat([main_df, append_df], axis=1)

In [12]:
main_df.to_csv('/Users/zumiis/final_not4git/for github/final_dataset_with_everything.csv', index=False)

In [20]:
all2020EXCEPTBRLJFC = pd.read_csv('/Users/zumiis/final_not4git/multivariate data/all_countries2020.csv')

In [22]:
all2020EXCEPTBRLJFC.head()

,Date,USD_USD,index,AUD_USD,CND_USD,CNY_USD,DKK_USD,JPY_USD,KRW_USD,MXN_USD,NZD_USD,NOK_USD,SGD_USD,ZAR_USD,SEK_USD,CHF_USD,THB_USD,GBP_USD
0,2020-01-02,0.722528,2020-01-02,1.427959,1.2992,6.9670,6.6755,109.12,1157.8,18.8817,1.493206,8.7919,1.3468,14.02745,9.3341,0.97365,30.110,0.757662
1,2020-01-03,0.723970,2020-01-03,1.435544,1.2988,6.9741,6.7041,109.12,1156.9,18.8673,1.493206,8.8199,1.3491,14.30955,9.4068,0.97365,30.161,0.765873
2,2020-01-06,0.722039,2020-01-06,1.439885,1.2970,6.9755,6.6761,108.05,1162.7,18.8270,1.500375,8.7983,1.3505,14.24530,9.4068,0.96910,30.145,0.760167
3,2020-01-07,0.722375,2020-01-07,1.443418,1.3009,6.9453,6.6891,108.44,1169.6,18.8852,1.500600,8.8210,1.3483,14.26300,9.4102,0.97045,30.140,0.760601
4,2020-01-08,0.723839,2020-01-08,1.455392,1.3026,6.9394,6.7234,107.82,1165.3,18.7980,1.508751,8.8626,1.3483,14.23595,9.4397,0.97215,30.285,0.762893

In [21]:
brl2020 = pd.read_csv('/Users/zumiis/final_not4git/BRAZIL2020.csv')

In [30]:
brl2020['Date'] = pd.to_datetime(brl2020['Date'])
all2020EXCEPTBRLJFC['Date'] = pd.to_datetime(all2020EXCEPTBRLJFC['Date'])

In [32]:
all2020 = pd.merge(all2020EXCEPTBRLJFC, brl2020, left_on='Date', right_on='Date')

In [34]:
all2020.rename(columns={'BRL': 'BRL_USD'}, inplace=True)

In [35]:
all2020

,Date,USD_USD,index,AUD_USD,CND_USD,CNY_USD,DKK_USD,JPY_USD,KRW_USD,MXN_USD,NZD_USD,NOK_USD,SGD_USD,ZAR_USD,SEK_USD,CHF_USD,THB_USD,GBP_USD,BRL_USD
0,2020-01-02,0.722528,2020-01-02,1.427959,1.2992,6.9670,6.6755,109.12,1157.8,18.8817,1.493206,8.7919,1.3468,14.02745,9.3341,0.97365,30.110,0.757662,4.0207
1,2020-01-03,0.723970,2020-01-03,1.435544,1.2988,6.9741,6.7041,109.12,1156.9,18.8673,1.493206,8.8199,1.3491,14.30955,9.4068,0.97365,30.161,0.765873,4.0516
2,2020-01-06,0.722039,2020-01-06,1.439885,1.2970,6.9755,6.6761,108.05,1162.7,18.8270,1.500375,8.7983,1.3505,14.24530,9.4068,0.96910,30.145,0.760167,4.0548
3,2020-01-07,0.722375,2020-01-07,1.443418,1.3009,6.9453,6.6891,108.44,1169.6,18.8852,1.500600,8.8210,1.3483,14.26300,9.4102,0.97045,30.140,0.760601,4.0835
4,2020-01-08,0.723839,2020-01-08,1.455392,1.3026,6.9394,6.7234,107.82,1165.3,18.7980,1.508751,8.8626,1.3483,14.23595,9.4397,0.97215,30.285,0.762893,4.0666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,2020-11-19,0.702596,2020-11-19,1.370802,1.3063,6.5770,6.2963,103.84,1105.9,20.1858,1.448436,9.0348,1.3436,15.49500,8.6380,0.91210,30.368,0.754375,5.3324
215,2020-11-20,0.701496,2020-11-20,1.370802,1.3063,6.5733,6.2791,103.87,1112.2,20.1172,1.446550,8.9870,1.3435,15.36320,8.6034,0.91140,30.326,0.753125,5.3499
216,2020-11-23,0.700448,2020-11-23,1.367428,1.3082,6.5715,6.2576,103.87,1114.2,20.1012,1.437815,8.9827,1.3422,15.28365,8.5981,0.90785,30.283,0.747915,5.3822
217,2020-11-24,0.701986,2020-11-24,1.366680,1.3033,6.5785,6.2726,104.56,1112.6,20.0577,1.440507,8.9986,1.3438,15.38995,8.5899,0.91295,30.392,0.749766,5.4031
218,2020-11-25,0.701620,2020-11-25,1.359434,1.3003,6.5782,6.2590,104.50,1111.2,20.0465,1.433692,8.8720,1.3418,15.24145,8.5247,0.91265,30.358,0.750272,5.3502

In [36]:
all2020.to_csv('/Users/zumiis/final_not4git/for github/all2020_with_brl.csv', index=False)

In [38]:
df = pd.read_csv('/Users/zumiis/final_not4git/for github/final_dataset_with_everything.csv')

In [39]:
df.columns

Index(['Time Series', 'AUD_USD', 'NZD_USD', 'GBP_USD', 'BRL_USD', 'CND_USD',
       'CNY_USD', 'IDR_USD', 'KRW_USD', 'MXN_USD', 'ZAR_USD', 'DKK_USD',
       'JPY_USD', 'NOK_USD', 'SEK_USD', 'CHF_USD', 'month', 'year', 'USD_USD',
       'price_gold', 'fc_year', 'USD_IR', 'AUD_IR', 'NZD_IR', 'GBP_IR',
       'BRL_IR', 'CND_IR', 'CNY_IR', 'IDR_IR', 'KRW_IR', 'MXN_IR', 'ZAR_IR',
       'DKK_IR', 'JPY_IR', 'SEK_IR', 'CHF_IR', 'NOK_IR', 'AUD_GDP', 'NZD_GDP',
       'GBP_GDP', 'BRL_GDP', 'CND_GDP', 'IDR_GDP', 'MXN_GDP', 'ZAR_GDP',
       'DKK_GDP', 'JPY_GDP', 'NOK_GDP', 'SEK_GDP', 'CHF_GDP', 'USD_GDP',
       'KRW_GDP', 'CNY_GDP', 'AUD_trade', 'NZD_trade', 'GBP_trade',
       'BRL_trade', 'CND_trade', 'CNY_trade', 'IDR_trade', 'KRW_trade',
       'ZAR_trade', 'DKK_trade', 'JPY_trade', 'NOK_trade', 'SEK_trade',
       'CHF_trade', 'USD_trade', 'MXN_trade', 'AUD_UE', 'NZD_UE', 'GBP_UE',
       'BRL_UE', 'CND_UE', 'KRW_UE', 'MXN_UE', 'DKK_UE', 'JPY_UE', 'NOK_UE',
       'SEK_UE', 'USD_UE', 'fc_year.1', 'price_gold.1', 'h1n1'],
      dtype='object')

In [42]:
df.drop(columns=['IDR_USD', 'IDR_IR', 'IDR_GDP', 'IDR_trade'], inplace=True)

In [43]:
df.to_csv('/Users/zumiis/final_not4git/for github/final_dataset_with_everything_exceptIDR.csv', index=False)

In [45]:
fu = pd.read_csv('/Users/zumiis/final_not4git/for github/final_dataset_with_everything_exceptIDR.csv')

In [46]:
fu.columns

Index(['Time Series', 'AUD_USD', 'NZD_USD', 'GBP_USD', 'BRL_USD', 'CND_USD',
       'CNY_USD', 'KRW_USD', 'MXN_USD', 'ZAR_USD', 'DKK_USD', 'JPY_USD',
       'NOK_USD', 'SEK_USD', 'CHF_USD', 'month', 'year', 'USD_USD',
       'price_gold', 'fc_year', 'USD_IR', 'AUD_IR', 'NZD_IR', 'GBP_IR',
       'BRL_IR', 'CND_IR', 'CNY_IR', 'KRW_IR', 'MXN_IR', 'ZAR_IR', 'DKK_IR',
       'JPY_IR', 'SEK_IR', 'CHF_IR', 'NOK_IR', 'AUD_GDP', 'NZD_GDP', 'GBP_GDP',
       'BRL_GDP', 'CND_GDP', 'MXN_GDP', 'ZAR_GDP', 'DKK_GDP', 'JPY_GDP',
       'NOK_GDP', 'SEK_GDP', 'CHF_GDP', 'USD_GDP', 'KRW_GDP', 'CNY_GDP',
       'AUD_trade', 'NZD_trade', 'GBP_trade', 'BRL_trade', 'CND_trade',
       'CNY_trade', 'KRW_trade', 'ZAR_trade', 'DKK_trade', 'JPY_trade',
       'NOK_trade', 'SEK_trade', 'CHF_trade', 'USD_trade', 'MXN_trade',
       'AUD_UE', 'NZD_UE', 'GBP_UE', 'BRL_UE', 'CND_UE', 'KRW_UE', 'MXN_UE',
       'DKK_UE', 'JPY_UE', 'NOK_UE', 'SEK_UE', 'USD_UE', 'fc_year.1',
       'price_gold.1', 'h1n1'],
      dtype='object')

In [48]:
fu.drop(columns=['fc_year.1', 'price_gold.1'], inplace=True)

In [49]:
fu.to_csv('/Users/zumiis/final_not4git/for github/final_dataset_with_everything_exceptIDR.csv', index=False)