## Interest Rate

In [2]:
import pandas as pd

- **path_ir** refers to the path of the interest rate file for a specific country
- **country_code** refers to the country code used throughout (refer to README)
- **fred_code** refers to the alphanumeric code given for each dataset, for each country by the FRED website

In [7]:
def get_interest_rate(path_ir, country_code, fred_code):

    df_ir = pd.read_csv(path_ir)
    df_ir['DATE'] = pd.to_datetime(df_ir['DATE'])
    df_ir['month'] = df_ir['DATE'].dt.month
    df_ir['year'] = df_ir['DATE'].dt.year
    df_ir = df_ir.rename(columns={fred_code: f'{country_code}_IR', 'DATE': 'index'})
    df_ir[f'{country_code}_IR'] = df_ir[f'{country_code}_IR']/100
    
    return df_ir

In [8]:
def data_combine(path, df_ir):
    
    exchange_df = pd.read_csv(path) 
    print(exchange_df.shape)

    df_with_ir = pd.merge(exchange_df, df_ir, left_on=['month', 'year'], right_on=['month', 'year'])
    df_with_ir.drop(columns='index', inplace=True)

    return df_with_ir

In [9]:
path_ir = '/Users/zumiis/final_not4git/interest rate/norway from fred.csv'
country_code = 'NOK'
fred_code = 'IRSTCI01NOM156N'

In [10]:
df_ir = get_interest_rate(path_ir, country_code, fred_code)
df_ir

         index  NOK_IR  month  year
0   2000-01-01  0.0584      1  2000
1   2000-02-01  0.0592      2  2000
2   2000-03-01  0.0587      3  2000
3   2000-04-01  0.0611      4  2000
4   2000-05-01  0.0620      5  2000
..         ...     ...    ...   ...
235 2019-08-01  0.0125      8  2019
236 2019-09-01  0.0135      9  2019
237 2019-10-01  0.0150     10  2019
238 2019-11-01  0.0150     11  2019
239 2019-12-01  0.0153     12  2019

[240 rows x 4 columns]

Two paths are given because for the first instance of adding to the interest rate, we are adding to the exchange rate dataset and creating a new dataset, however for the following instances, we are adding to that newly created dataset. 

- **forex_path** refers to the path of the dataset with exchange rates
- **path2** refers to the newly created dataset containing both exchange rate and interest rate

In [155]:
forex_path = '/Users/zumiis/final_not4git/for github/forex_with_usa.csv'
path2 = '/Users/zumiis/final_not4git/for github/data_with_interest_rate_all.csv'

In [169]:
df_with_ir = data_combine(path2, df_ir)
print(df_with_ir.shape)
print(df_with_ir.isna().sum())

(4997, 42)
(4997, 43)
Time Series    0
AUD_USD        0
NZD_USD        0
GBP_USD        0
BRL_USD        0
CND_USD        0
CNY_USD        0
HKD_USD        0
IDR_USD        0
KRW_USD        0
MXN_USD        0
ZAR_USD        0
SGD_USD        0
DKK_USD        0
JPY_USD        0
MYR_USD        0
NOK_USD        0
SEK_USD        0
LKR_USD        0
CHF_USD        0
TWD_USD        0
THB_USD        0
month          0
year           0
USD_USD        0
price_gold     0
fc_year        0
USD_IR         0
AUD_IR         0
NZD_IR         0
GBP_IR         0
BRL_IR         0
CND_IR         0
CNY_IR         0
IDR_IR         0
KRW_IR         0
MXN_IR         0
ZAR_IR         0
DKK_IR         0
JPY_IR         0
SEK_IR         0
CHF_IR         0
NOK_IR         0
dtype: int64

In [174]:
df_with_ir.to_csv('/Users/zumiis/final_not4git/for github/data_with_interest_rate_all.csv', index=False)