## GDP Growth Rate

In [146]:
import pandas as pd
import numpy as np

- **path_gdp** refers to the path of the gdp growth rate file for a specific country
- **country_code** refers to the country code used throughout (refer to README)
- **fred_code** refers to the alphanumeric code given for each dataset, for each country by the FRED website

In [2]:
def make_clean(path_gdp, country_code, fred_code):
    
    df_gdp = pd.read_csv(path_gdp)
    df_gdp['DATE'] = pd.to_datetime(df_gdp['DATE'])
    df_gdp['month'] = df_gdp['DATE'].dt.month
    df_gdp['year'] = df_gdp['DATE'].dt.year
    df_gdp = df_gdp.rename(columns={fred_code: f'{country_code}_GDP', 'DATE': 'index'})
    df_gdp['shift'] = df_gdp[f'{country_code}_GDP'].shift(1)
    df_gdp = df_gdp.dropna()

    #need this for time reference 
    test = pd.read_csv('/Users/zumiis/final_not4git/interest rate/SWITZERLAND IRSTCI01CHM156N.csv')
    test['DATE'] = pd.to_datetime(test['DATE'])
    test['month'] = test['DATE'].dt.month
    test['year'] = test['DATE'].dt.year
    test = test.rename(columns={'IRSTCI01CHM156N': 'CHF_IR', 'DATE': 'index'})

    merged_df = pd.merge(test, df_gdp, left_on=['index'], right_on=['index'], how='outer').ffill().bfill()

    return merged_df

In [62]:
def change_columns(df, country_code):
    
    df = df.drop(columns=['CHF_IR', 'month_y', 'year_y', f'{country_code}_GDP'])
    df.rename(columns={'month_x':'month', 'year_x':'year', 'shift':f'{country_code}_GDP'}, inplace=True)
    df[f'{country_code}_GDP'] = df[f'{country_code}_GDP']/100

    return df

In [4]:
def data_combine(path, df_gdp):
    
    exchange_df = pd.read_csv(path) 
    print(exchange_df.shape)

    df_with_gdp = pd.merge(exchange_df, df_gdp, left_on=['month', 'year'], right_on=['month', 'year'])
    df_with_gdp.drop(columns='index', inplace=True)

    return df_with_gdp

In [122]:
gdp_path = '/Users/zumiis/final_not4git/gdp/korea NAEXKP01KRQ657S.csv'
country_code = 'KRW'
fred_code = 'NAEXKP01KRQ657S'

In [123]:
df_gdp = make_clean(gdp_path, country_code, fred_code)
print(df_gdp.isna().sum())

df_gdp = change_columns(df_gdp, country_code)
df_gdp #240 rows

index      0
CHF_IR     0
month_x    0
year_x     0
KRW_GDP    0
month_y    0
year_y     0
shift      0
dtype: int64

         index  month  year   KRW_GDP
0   2000-01-01      1  2000  0.028863
1   2000-02-01      2  2000  0.028863
2   2000-03-01      3  2000  0.028863
3   2000-04-01      4  2000  0.018951
4   2000-05-01      5  2000  0.018951
..         ...    ...   ...       ...
235 2019-08-01      8  2019  0.010141
236 2019-09-01      9  2019  0.010141
237 2019-10-01     10  2019  0.003755
238 2019-11-01     11  2019  0.003755
239 2019-12-01     12  2019  0.003755

[240 rows x 4 columns]

In [124]:
path = '/Users/zumiis/final_not4git/for github/data_with_interest_rate_all.csv'
path2 = '/Users/zumiis/final_not4git/for github/data_with_interest_rate_gdp_all.csv'

In [125]:
df_with_gdp = data_combine(path2, df_gdp)
print(df_with_gdp.shape) #4997 rows 
print(df_with_gdp.isna().sum())

(4997, 51)
(4997, 52)
Time Series    0
AUD_USD        0
NZD_USD        0
GBP_USD        0
BRL_USD        0
CND_USD        0
CNY_USD        0
IDR_USD        0
KRW_USD        0
MXN_USD        0
ZAR_USD        0
DKK_USD        0
JPY_USD        0
NOK_USD        0
SEK_USD        0
CHF_USD        0
month          0
year           0
USD_USD        0
price_gold     0
fc_year        0
USD_IR         0
AUD_IR         0
NZD_IR         0
GBP_IR         0
BRL_IR         0
CND_IR         0
CNY_IR         0
IDR_IR         0
KRW_IR         0
MXN_IR         0
ZAR_IR         0
DKK_IR         0
JPY_IR         0
SEK_IR         0
CHF_IR         0
NOK_IR         0
AUD_GDP        0
NZD_GDP        0
GBP_GDP        0
BRL_GDP        0
CND_GDP        0
IDR_GDP        0
MXN_GDP        0
ZAR_GDP        0
DKK_GDP        0
JPY_GDP        0
NOK_GDP        0
SEK_GDP        0
CHF_GDP        0
USD_GDP        0
KRW_GDP        0
dtype: int64

In [126]:
df_with_gdp.to_csv('/Users/zumiis/final_not4git/for github/data_with_interest_rate_gdp_all.csv', index=False)

In [120]:
df_with_gdp

,Time Series,AUD_USD,NZD_USD,GBP_USD,BRL_USD,CND_USD,CNY_USD,IDR_USD,KRW_USD,MXN_USD,...,CND_GDP,IDR_GDP,MXN_GDP,ZAR_GDP,DKK_GDP,JPY_GDP,NOK_GDP,SEK_GDP,CHF_GDP,USD_GDP
0,2000-01-03,1.5172,1.9033,0.6146,1.8050,1.4465,8.2798,43.55,1128.00,9.4015,...,0.014067,0.001072,0.010390,0.010997,0.012470,0.000564,0.017204,0.017814,0.023764,0.016996
1,2000-01-04,1.5239,1.9238,0.6109,1.8405,1.4518,8.2799,43.55,1122.50,9.4570,...,0.014067,0.001072,0.010390,0.010997,0.012470,0.000564,0.017204,0.017814,0.023764,0.016996
2,2000-01-05,1.5267,1.9339,0.6092,1.8560,1.4518,8.2798,43.55,1135.00,9.5350,...,0.014067,0.001072,0.010390,0.010997,0.012470,0.000564,0.017204,0.017814,0.023764,0.016996
3,2000-01-06,1.5291,1.9436,0.6070,1.8400,1.4571,8.2797,43.55,1146.50,9.5670,...,0.014067,0.001072,0.010390,0.010997,0.012470,0.000564,0.017204,0.017814,0.023764,0.016996
4,2000-01-07,1.5272,1.9380,0.6104,1.8310,1.4505,8.2794,43.55,1138.00,9.5200,...,0.014067,0.001072,0.010390,0.010997,0.012470,0.000564,0.017204,0.017814,0.023764,0.016996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4992,2019-12-20,1.4489,1.5135,0.7671,4.0859,1.3170,7.0063,71.07,1160.30,18.9140,...,0.002792,0.012057,-0.002268,-0.002096,-0.002002,0.000413,-0.000156,0.003000,0.004473,0.006369
4993,2019-12-23,1.4457,1.5088,0.7742,4.0621,1.3167,7.0124,71.24,1163.64,18.9310,...,0.002792,0.012057,-0.002268,-0.002096,-0.002002,0.000413,-0.000156,0.003000,0.004473,0.006369
4994,2019-12-26,1.4411,1.5002,0.7688,4.0602,1.3124,6.9949,71.28,1161.18,18.9440,...,0.002792,0.012057,-0.002268,-0.002096,-0.002002,0.000413,-0.000156,0.003000,0.004473,0.006369
4995,2019-12-27,1.4331,1.4919,0.7639,4.0507,1.3073,6.9954,71.45,1160.87,18.8190,...,0.002792,0.012057,-0.002268,-0.002096,-0.002002,0.000413,-0.000156,0.003000,0.004473,0.006369
4996,2019-12-30,1.4278,1.4846,0.7610,4.0152,1.3058,6.9864,71.30,1155.75,18.8630,...,0.002792,0.012057,-0.002268,-0.002096,-0.002002,0.000413,-0.000156,0.003000,0.004473,0.006369

## With IMF data (for China)

In [139]:
def make_nice_for_rating(df):
    
    df.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'Indicator', 'Scale', 'Base Year'], inplace=True)
    df.drop([0,1,2,3], inplace=True)
    
    return df

In [129]:
def calc_rate(df):
    
    df_rate = pd.DataFrame((df.iloc[:,1] - df.iloc[:,0])/(df.iloc[:,0]))
    for i in list(range(1, df.shape[1])):
        df_rate[i] = pd.DataFrame((df.iloc[:,i] - df.iloc[:,i-1])/(df.iloc[:,i-1]))
    
    return df_rate

In [159]:
def transpose_merge(df, df_rate, index_num):
    
    df = df.transpose().reset_index()
    df.rename(columns={index_num:'gdp deflator'}, inplace=True)
    df_rate = df_rate.transpose()
    df_merge = pd.merge(df, df_rate, left_index=True, right_index=True)
    df_append = pd.DataFrame([['2019Q4', np.nan, np.nan]], columns=['index', 'gdp deflator', index_num])
    df_merge = df_merge.append(df_append, ignore_index=True)
    df_merge = df_merge.ffill()

    return df_merge

In [160]:
def remove_Qs(df_merge):
    
    df_merge['index_t'] = df_merge['index'].apply(lambda x: x.replace('Q1', '-01'))
    df_merge['index_t'] = df_merge['index_t'].apply(lambda x: x.replace('Q2', '-04'))
    df_merge['index_t'] = df_merge['index_t'].apply(lambda x: x.replace('Q3', '-07'))
    df_merge['index_t'] = df_merge['index_t'].apply(lambda x: x.replace('Q4', '-10'))

    return df_merge

In [154]:
def make_clean_imf(df, country_code, index_num):
    
    df['index'] = pd.to_datetime(df['index'])

    df['year'] = df['index'].dt.year
    df['month'] = df['index'].dt.month

    df = df.rename(columns={index_num: f'{country_code}_GDP'})

    #needed for time reference 
    test = pd.read_csv('/Users/zumiis/final_not4git/interest rate/SWITZERLAND IRSTCI01CHM156N.csv')
    test['DATE'] = pd.to_datetime(test['DATE'])
    test['month'] = test['DATE'].dt.month
    test['year'] = test['DATE'].dt.year
    test = test.rename(columns={'IRSTCI01CHM156N': 'CHF_IR', 'DATE': 'index'})

    merged_df = pd.merge(test, df, left_on=['month', 'year'], right_on=['month', 'year'], how='outer').ffill().bfill()
    merged_df.drop(columns=['index_y', 'CHF_IR', 'index_t'], inplace=True)

    return merged_df

In [152]:
def data_combine_imf(path, df_gdp):
    
    exchange_df = pd.read_csv(path) 
    print(exchange_df.shape)

    df_with_gdp = pd.merge(exchange_df, df_gdp, left_on=['month', 'year'], right_on=['month', 'year'])
    df_with_gdp.drop(columns=['index_x', 'gdp deflator'], inplace=True)

    return df_with_gdp

In [140]:
df = pd.read_excel('/Users/zumiis/final_not4git/gdp/china.xlsx', header=7)
df = make_nice_for_rating(df)
df

WARNING *** file size (30165) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,2000Q1,2000Q2,2000Q3,2000Q4,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,...,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3
4,66.995,67.8131,68.9522,60.8359,69.7262,69.5984,70.5531,61.9875,69.8987,70.4319,...,122.33,123.171,124.99,126.636,126.243,126.554,128.273,128.31,128.768,128.476

In [141]:
df_rate = calc_rate(df)
df_rate

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
4,0.0122114,0.0122114,0.0167975,-0.117709,0.146135,-0.00183271,0.0137171,-0.121406,0.127626,0.00762769,...,-0.00256154,0.00687341,0.0147655,0.0131757,-0.00310647,0.00246736,0.0135799,0.000285552,0.00356856,-0.00226119

In [148]:
df_merge = transpose_merge(df, df_rate, 4)
df_merge = remove_Qs(df_merge)
df_merge #80 rows

     index  gdp deflator         4  index_t
0   2000Q1     66.995042  0.012211  2000-01
1   2000Q2     67.813143  0.012211  2000-04
2   2000Q3     68.952233  0.016797  2000-07
3   2000Q4     60.835936 -0.117709  2000-10
4   2001Q1     69.726194  0.146135  2001-01
..     ...           ...       ...      ...
75  2018Q4    128.273059  0.013580  2018-10
76  2019Q1    128.309688  0.000286  2019-01
77  2019Q2    128.767569  0.003569  2019-04
78  2019Q3    128.476400 -0.002261  2019-07
79  2019Q4    128.476400 -0.002261  2019-10

[80 rows x 4 columns]

In [155]:
df_merge_clean = make_clean_imf(df_merge, 'CNY', 4)
df_merge_clean #240 rows

       index_x  month  year  gdp deflator   CNY_GDP
0   2000-01-01      1  2000     66.995042  0.012211
1   2000-02-01      2  2000     66.995042  0.012211
2   2000-03-01      3  2000     66.995042  0.012211
3   2000-04-01      4  2000     67.813143  0.012211
4   2000-05-01      5  2000     67.813143  0.012211
..         ...    ...   ...           ...       ...
235 2019-08-01      8  2019    128.476400 -0.002261
236 2019-09-01      9  2019    128.476400 -0.002261
237 2019-10-01     10  2019    128.476400 -0.002261
238 2019-11-01     11  2019    128.476400 -0.002261
239 2019-12-01     12  2019    128.476400 -0.002261

[240 rows x 5 columns]

In [157]:
df_with_gdp = data_combine_imf(path2, df_merge_clean)
print(df_with_gdp.shape) #4997 rows
print(df_with_gdp.isna().sum())

(4997, 52)
(4997, 53)
Time Series    0
AUD_USD        0
NZD_USD        0
GBP_USD        0
BRL_USD        0
CND_USD        0
CNY_USD        0
IDR_USD        0
KRW_USD        0
MXN_USD        0
ZAR_USD        0
DKK_USD        0
JPY_USD        0
NOK_USD        0
SEK_USD        0
CHF_USD        0
month          0
year           0
USD_USD        0
price_gold     0
fc_year        0
USD_IR         0
AUD_IR         0
NZD_IR         0
GBP_IR         0
BRL_IR         0
CND_IR         0
CNY_IR         0
IDR_IR         0
KRW_IR         0
MXN_IR         0
ZAR_IR         0
DKK_IR         0
JPY_IR         0
SEK_IR         0
CHF_IR         0
NOK_IR         0
AUD_GDP        0
NZD_GDP        0
GBP_GDP        0
BRL_GDP        0
CND_GDP        0
IDR_GDP        0
MXN_GDP        0
ZAR_GDP        0
DKK_GDP        0
JPY_GDP        0
NOK_GDP        0
SEK_GDP        0
CHF_GDP        0
USD_GDP        0
KRW_GDP        0
CNY_GDP        0
dtype: int64

In [158]:
df_with_gdp.to_csv('/Users/zumiis/final_not4git/for github/data_with_interest_rate_gdp_all.csv', index=False)